<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
				
	<link href="~/Content/bootstrap.css" rel="stylesheet" />
	@*<link href="~/Content/vs2015.css" rel="stylesheet" />*@
    @*<link href="~/Content/atom-one-dark.css" rel="stylesheet" />*@
	<link href="~/Content/github.css" rel="stylesheet" />
	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/highlight.pack.js"></script>
	<script src="~/Scripts/Home.js"></script>
	<script src="~/Scripts/typeahead.jquery.min.js"></script>
	<script src="~/Scripts/typeahead.bundle.min.js"></script>
	<script src="~/Scripts/bloodhound.js"></script>
    <link href="~/Content/TypeAhead.css" rel="stylesheet" />

</head>
<body>
    <div class="navbar sticky-top navbar-light bg-white justify-content-between" id="multiple-datasets">
        <a class="navbar-brand">Finder</a>
        <div class="form-inline">
            <input class="form-control mr-sm-2 typeahead" id="Search" type="search" placeholder="Search" aria-label="Search">
            <button id="primarySearchButton" class="btn btn-outline-success my-2 my-sm-0">Search</button>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
