@{
    ViewBag.Title = "Find";
}

<div id="HistoryNavigator" class="HiddenDiv">
	<img src="~/Picture/chevron-left.svg" id="backToPreviouslySearch"  class ="btn btn-outline-secondary HistoryButton" alt="chevron-left">
	<img src="~/Picture/chevron-right.svg" id="backToLaterSearch" class="btn btn-outline-secondary HistoryButton" alt="chevron-right">
</div>

<div id="TableContent"></div>

