@model WebApplication1.Models.Entity
<table class="table">
	<thead>
		<tr>
			@if (Model.Fields != null && Model.Fields.Count > 0)
			{

				foreach (var field in Model.EntityChildAttributeList)
				{
					<th scope="col">@field</th>
				}
			}
		</tr>
	</thead>
	<tbody>
		@foreach(var field in Model.Fields)
		{

		}
		<tr>
			<th scope="row">1</th>
			<td>Mark</td>
			<td>Otto</td>
			<td>mdo</td>
		</tr>
		<tr>
			<th scope="row">2</th>
			<td>Jacob</td>
			<td>Thornton</td>
			<td>fat</td>
		</tr>
		<tr>
			<th scope="row">3</th>
			<td>Larry</td>
			<td>the Bird</td>
			<td>twitter</td>
		</tr>
	</tbody>
</table>

@if (Model.Fields != null && Model.Fields.Count > 0)
			{
			<xmp>@Html.Raw(Model.XmlString)</xmp>
			}